$flooring-orange: #BB7C37;
$flooring-darkgreen: #196600;
$flooring-green: #248f00;
$flooting-lightgreen: #afa18b;
$flooring-brown: #584b00;
$flooring-black: #393939;
$flooring-darkblack: #000000;
$flooring-lightbrown: #ffc79a;
$flooring-white: #f5f5f5;
$pure-white: #ffffff;

