@use "/src/styles/mixins" as *;
@use "/src/styles/variables" as *;
@use "/src/styles/breakpoints" as *;


header {
  position: fixed;
  background-color: white;
  z-index: 3;
  width: 100%;
  height: $flooring-header-height;
  
  .header-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;

    .hamburger-icon {
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      span {
        width: 60%;
        height: 5px;
        background-color: $flooring-brown;
        position: relative;
        

        &::before,
        &::after {
          content: "";
          width: 100%;
          height: 5px;
          background-color: $flooring-brown;
          position: absolute;
          left: 0;
        }

        &::before {
          top: -0.75rem;
        }

        &::after {
          top: 0.75rem;
        }
      }
    }

    $MainTitleWidth: 18rem;

    .MainTitle {
      font-size: 1.1rem;
      width: fit-content;
      text-align: start;

      h1 {
        font-family: "Helvetica", sans-serif;
        font-weight: 400;
      }
    }

    .HiddenIcon {
      width: $MainTitleWidth;
      display: none;
    }

    @keyframes navigationPanel {
      from {
        right: 100%;
      }

      to {
        right: calc(100vw - $navigation-width);
      }
    }

    .navanim-forward {
      animation: navigationPanel 0.5s ease forwards;
    }

    .navanim-backward {
      animation: navigationPanel 0.5s ease reverse forwards;
    }

    .nav-move-right {
      right: 0;
    }

    .navigation {
      position: fixed;
      width: $navigation-width;
      height: calc(100vh - $flooring-header-height);
      top: $flooring-header-height;
      right: 100%;
      margin: 0;
      font-size: 1.5rem;
      background-color: $flooring-white;
      z-index: 1;

      &__body,
      &__list {
        height: 100%;
      }
      &__list {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;

        li {
          padding: 0 1rem;
          h3 {
            font-weight: 400;
          }
        }
      }
    }
  }

  @include tablet {
    .header-content {
      justify-content: space-between;
      flex-direction: row;

      .hamburger-icon {
        display: none;
      }

      .navigation {
        position: inherit;
        width: fit-content;
        height: fit-content;
        background-color: transparent;

        &__list {
          flex-direction: row;
        }
      }
    }
  }

  @include desktop {
    .header-content {
      width: $desktop-break;
      margin: auto;

      .HiddenIcon {
        display: block;
      }

      .navigation__list li {
        padding: 0 1.5rem;
      }
    }
  }
}
