@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.contacts-content {
  background-color: $flooring-white;

  > * {
    width: fit-content;
  }

  &__items {
    padding: 1rem;
  }

  @include desktop {
    border-radius: 1rem;
  }
}